a:link, a:active, a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #4455aa;
	text-decoration: underline;
}
body {
	background-color: #FFFFFF; 
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}
table {
	font-family: "ו";
	font-size: 12px;
	line-height: 130%;
	border: thin none;
}
form {
	margin: 0px;
	padding: 0px;
}
input, select {
	line-height: 15px;
	height: 20px;
}
.nav_link a:link, .nav_link a:visited, .nav_link a:active {
	color: #000000;
	text-decoration: none;
}
.nav_link a:hover {
	color: #000000;
	text-decoration: underline;
}
.nav_top {
	background-image: url(images/nav_top_bg.gif);
	height: 9px;
}
.nav_bottom {
	background-image: url(images/nav_bottom_bg.gif);
	height: 9px;
}
.nav_menu {
	background-image: url(images/nav_menu_bg.gif);
	height: 22px;
}
.nav_middle {
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #6595D6;
}
.title {
	background-color: #003399; 
	height: 25px;
	color: #FFFFFF;
}
.title a:link, .title a:visited, .title a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.title a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.title_link
{
	color: #FFFFFF;
	font-weight: bold;
}
.title_link a:link, .title_link a:visited, .title_link a:active {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.title_link a:hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
.table {
	border-width: 1px;
	border-style: solid;
	border-color: #3366CC;
}
.board {
	border-top-width: 0px;
}
.boardmsg {
	line-height: 130%;
}
.boardstate {
	border-width: 1px;
	border-st
	yle: none;
	border-right-style: solid;
	border-color: #6595D6;
}
.asp600bg {
	background-image: url(../../images/asp600menu.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
