body
{
background-color:#f9f9f9;
background-repeat:repeat;
font-size:14px;
font-family:"ו";
margin-top:2px;
width:1000px;
margin:0 auto;
}
div{ overflow:hidden;}
a:link
{
text-decoration:none;
color:Black;
}
a:hover
{
color:Blue;

}
.border
{
border:1px;
border-style:solid;
border-color:#d1d1d1;
}
.gengduo
{
width:50px;
height:17px;
float:right;
text-align:center;
margin-top:10px;
}
.xiangqing
{
width:317px;
height:73px;
border-bottom:1px;
border-bottom-style:solid;
border-bottom-color:#d1d1d1;
}

#logo
{
width:1000px;
height:222px;
background-image:url(../images/logo.jpg);
margin-top:4px;
}
#daohang
{
width:545px;
height:17px;
margin-top:197px;
float:left;
}
#sousuo
{
width:330px;
height:20px;
float:right;
margin-top:195px;
}
.pic_GZDT
{
width:1000px;
height:318px;
margin-top:4px;
}

.pic
{
width:438px;
height:316px;
background-image:url(../images/pic_bg.jpg);
background-repeat:repeat-x;
float:left;

}
#GZDT
{
width:556px;
height:316px;
float:left;
margin-left:4px;
}
.Gbiaoti
{
width:554px;
height:23px;
margin-top:1px;
}
.Gfont
{
height:23px; 
width:400px; 
float:left;
vertical-align:middle;
font-size:16px;
font-style:inherit;
}
.Gtime
{
height:23px; 
width:90px; 
float:right; 
}
.middle
{
width:1002px;
height:420px;

}
#ZC_JS
{
width:328px;
height:316px;
}
.biaoti
{
height:24px; 
width:318px;
margin-top:2px;
}
.Lbiaoti
{
height:24px;
width:326px;
margin-top:1px;
}
.tubiao
{
float:left;
height:16px;
width:24px;
margin-left:8px; 
}
.Zfont
{
height:24px; 
width:280px; 
float:left;
vertical-align:middle;
font-size:16px;
font-style:inherit;
}
.Lfont
{
height:24px; 
width:294px; 
float:left;
vertical-align:middle;
font-size:16px;
font-style:inherit;
}
#JS
{
width:328px;
height:316px;
margin-left:4px;
}
#LLTT
{
margin-top:5px;
width:330px;
height:418px;
float:left;
margin-left:4px;
}
#middle-down
{
width:1000px;
height:278px;
margin-top:10px;
}
.MTJJ_TSZS
{
width:333px;
height:278px;
border-right:1px;
border-right-style:solid;
border-right-color:#d1d1d1;
float:left;
}
#suiyue
{
width:328px;
height:278px;
float:left;
}
#bottom
{
width:1000px;
height:112px;
margin-top:4px;
}
#quote
{
width:1000px;
height:76px;
margin:auto;
}